/******************************************************************
Site Name: W3G
Author: W3G digital - Capucine Leccia

Stylesheet: Admin Stylesheet

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes


/* Links color */

a, 
#adminmenu a, 
#the-comment-list p.comment-author strong a, 
#media-upload a.del-link, 
#media-items a.delete, 
#media-items a.delete-permanently, 
.plugins a.delete, 
.ui-tabs-nav a {color: #CF3416}